input, select, textarea{
	color: black;
	margin-left: 1em;
	margin-bottom: .5em;
	font-size: 90%;
}
input::placeholder{
	font-size: 90%;
}

input:required{
	border: 2px solid yellow;
}

input:focus{
	border: 2px solid #737373;
}
option{
	font-size: 90%;
}
label{
	float: left;
	width: 8em;
	text-align: right;

}
span{
	font-style: italic;
	font-size: 80%;
	margin-left: 1em;
}
#button{
	margin-left: 10em;
	padding: .2em;
	width: 60px;
}

#small_button{
	padding: .2em;
	display: block;
	margin: auto;
}

#reset{
	padding: .2em;
	width: 60px;
}

#asideB form{
	font-family:"Architects Daughter",Helvetica,Arial,Sans-Serif;
}

#asideB label{
	font-size: 120%;
	text-align: center;
	margin: 10px;
}


#asideB h2{
	font-size: 80%;
	text-align: center;
}

#asideB h3{
	font-size: 70%;
	text-align: center;
}

#asideB p{
  font-size: 80%;
	margin: 1em;
}
