/*Google font import*/
@import url('//fonts.googleapis.com/css?family=PT Sans Narrow');
@import url('//fonts.googleapis.com/css?family=Architects Daughter');

* {
	margin: 0;
  padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image: url("../images/background-image.jpg");
	background-size: cover;
	color: white;
}

#logo_img {
	width: 100%;
	height: auto;
}

body{
	width: 960px;
  margin: 15px auto; /*This aligns the body center*/
}

header{
  width: 960px;
}
main{
  width: 600px;
  height: auto;
  float: left;
}
nav{
  width: 960px;
	margin-top: -4px;
}

article {
	padding: 0.5em;
}

article a{
	text-decoration: none;
	color: white;
}

#asideA, #asideB{
  width: 180px;
  height: 500px;
  background: rgba(46,46,46,0.5);
}

#asideA {
	  float: left;
}
#asideA h1, #asideB h1{
	font-size: 120%;
	text-align: center;
}
#asideA a, #asideB a{
	text-decoration: none;
	color: inherit;
}
#asideA a:hover, #asideA a:focus, #asideB a:hover, #asideB a:focus{
	font-style: italic;
}
#asideA h2{
	font-size: 75%;
	text-align: center;
	margin: .5em;
}
#asideA h3, #asideB h3{
	font-size: 70%;
	color: #737373;
	text-align: center;
	margin: .5em;
}

#asideB{
  float: right;
}

.img-circle {
    border-radius: 50%;
		float: left;
		margin: 0.2em;
		vertical-align: middle;
}
.img-icon{
	width: 40px;
	display: block;
	margin: auto;
}

/*GROW*/
.pic_thumb {
	display: block;
	margin: auto;
  border: 1px solid #737373;
  width: 160px;
  height: 70px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}
.grow_thumb img {
	width: 160px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow_thumb img:hover {
  width: 200px;
}

.img-rating {
	float: right;
	height: 40px;
	margin: .5em;
}

footer{
  width: 964px;
	padding: 2px;
}
#mobile_menu{
  display: none;
}

#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
	position: relative;    /* So the second submenu can be positioned within the first submenu */
}
#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;            /* Position the second submenu at the right side of the li element */
	top: 0;                /* Position the second submenu at the top of the li element */
}
#nav_menu ul li.lastitem ul li ul {
	position: absolute;
	left: -100%;           /* Position the second submenu at the left side of the li element */
	top: 0;                /* Position the second submenu at the top of the li element */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* The styles for the formatting of the 3-tier navigation menu */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 192px;
	padding: .6em 0;
	text-decoration: none;
	background-color: #111111;
	color: #737373;
	font-weight: bold;
}

#nav_menu ul li a.current {
	color: white;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	color: white;
}

#terms {
    padding-top: 1em;
    text-transform: none;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    float: left;
}

#terms a {
    color: #d2d2d2;
    opacity: .7;
		font-weight: bold;
    text-decoration: underline;
}
